*{
    box-sizing: border-box;
}
body{
    background-color:rgb(250,250,250);
}
#header{
    
    width:100%;
    height:200px;
    margin:auto;
    font-size: 20px;
    border-radius: 25px;
   
        border: 1px solid #245324;
        background-image: linear-gradient(to right, rgba(130, 44, 44, 0), rgb(51, 201, 255));
    
       
}

#menu{
    background-color: white;
    border: 2px solid white;
    width:100%;
    height:500px;
   
}
#menu ul{
    float:left;
    margin: 0px;
    padding: 0px;
    width:100%;
}
#menu li{
    list-style-type: none;
    border: 2px solid gainsboro;
    width: 33%;
    padding: 7px;
    float:left;
}
#menu a{
    display: block;
    text-decoration: none;
    font-family: Arial;
    text-align: center;
    font-size: 24px;
}
#menu li:hover{
    background-color:gainsboro;
}
#content{
    background-color:rgb(51, 201, 255);
    border: 1px solid black;
    
    width:100%;
    height: auto;
    font-family: arial;
    color: white;
}
#content h2{
    text-align: center;
    margin:auto;
}
#footer{
    background-color:rgb(51, 201, 255);
    border: 1px solid black;
    width:100%;
    height: 50px;
    color: white;
    text-align: center;
}
#logo{
    width: 150px;
    margin:25px 25px;
    border: 2px solid gainsboro;
    float:left;
}
#galeria{
    width:60%;
    margin:auto;
    padding:10px 180px;

}
#galeriaImg1{
    border: 2px solid rgb(20, 174, 230);
    width:300px;
    height: 400px;
    opacity: 0.6;
    margin:25px;
}
